<% include partials/header %>        


<div class="container">
    <ul>
        <li><a href="https://datastudio.google.com/open/1u0nok3ywysvowLVHXVfsFj7eDnOxrpIK">Netflix</a></li>    
        <li><a href="#">Bixi</a></li>
        <li><a href="#">Entrainement</a></li>
    </ul>

</div>

<% include partials/footer%>
